._body{
    background-color: #d33599;
}
/*NavBar Fixa*/
.navbar_fix{
    background-color: #d33599;
}
.navfix{
    background-color: #d33599;
}
/*Texto Bem Vindo*/
.area1{
    text-align: center;
    margin-top: 15%;
}
.wlc{
    text-align: center;
    font-family: 'Common Pixel', sans-serif;
    font-weight: bold;
    background-color: #1fec63;
    width: 700px;
    height: 120px;
    margin-left: 27%;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px #000000;
}
.f1{
    font-size: 25px;
    margin-right: 130px;

}
.f2{
    font-size: 60px;
}

/*Contato*/
.ctt{
    margin-bottom: 80px;
}
.wpp_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.wpp_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}
.eml_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.eml_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}
.gth_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.gth_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}
.lnk_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.lnk_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}

/*Navegação*/
.nav_edit{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #1fec63;
    color:#000000;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 170px;
    border-radius: 900px;
    transition-duration: 0.2s;
    height: 46px;
    width: 126px;
    box-shadow: 4px 4px #000000ee;
}
    .nav_edit:hover{
        background-color: #1fec63;
        border: 1px solid rgba(0, 0, 0, 0.801);
        padding: 1px;
        box-shadow: 1px 1px #000000ee;
    }
.nav_edit2{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:#000000;
    transition-duration: 0.2s;
}

/*Sobre Mim*/
#sb1{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 300px;
    height: 650px;
    width: 800px;
    background-color: #1fec63;
    box-shadow: 5px 5px #000000;
}
.imgv{
    height: 550px;
    width: 300px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px #000000;
}
.tsb{
    text-align: left;
    font-size: 16px; 
    padding: 10px;
}
.titulo{
    color: #000000;
    margin-bottom: 50px;
    text-decoration: underline;
    text-align: center;
}
.nav_edit_{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    background-color: #d33599;
    color:#000000;
    margin-left: 370px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 900px;
    transition-duration: 0.2s;
    height: 46px;
    width: 250px;
    box-shadow: 4px 4px #000000ee;
}
    .nav_edit_:hover{
        background-color: #1fec63;
        border: 1px solid rgba(0, 0, 0, 0.801);
        padding: 1px;
        box-shadow: 1px 1px #000000ee;
    }

/*Formações*/
#sb2{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 50px;
    margin-left: 50px;
    height: 650px;
    width: 1300px;
    background-color: #1fec63;
    box-shadow: 5px 5px #000000;
}
.imgpcof{
    height: 100px;
    width: 200px;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    box-shadow: 3px 3px #000000;
}
.titulof{
    color: #000000;
    margin-bottom: 25px;
    text-decoration: underline;
    text-align: center;
}
.tf{
    text-align: left;
    font-size: 16px; 
    padding: 10px;
}
.imgrdf{
    height: 100px;
    width: 200px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px #000000;
}
.rd{
    text-align: left;
    font-size: 16px; 
    padding: 10px;
}
.imghcj{
    height: 100px;
    width: 200px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px #000000;
}
.hcj{
    text-align: left;
    font-size: 16px; 
    padding: 10px;
}
.text_hcj{
    padding: 10px
}