._body{
    background-color: #d33599;
}

/*Texto Bem Vindo*/
.area1{
    text-align: center;
    margin-top: 15%;
}
.wlc{
    text-align: center;
    font-family: 'Common Pixel', sans-serif;
    font-weight: bold;
    background-color: #1fec63;
    width: 700px;
    height: 120px;
    margin-left: 27%;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px #000000;
}
.f1{
    font-size: 25px;
    margin-right: 130px;

}
.f2{
    font-size: 60px;
}

/*Contato*/
.ctt{
    margin-bottom: 50px;
}
.wpp_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.wpp_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}
.eml_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.eml_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}
.gth_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.gth_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}
.lnk_logo{
    height: 50px;
    padding-right: 20px;
    opacity: 40%;
}
.lnk_logo:hover{
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 100%;
}

/*Navegação*/
.nav_edit{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #1fec63;
    color:#000000;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 900px;
    transition-duration: 0.2s;
    height: 46px;
    width: 126px;
    box-shadow: 4px 4px #000000ee;
}

/*Sobre Mim*/
#sb1{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 8%;
    margin-left: 500px;
    margin-bottom: 20px;
    height: 800px;
    width: 500px;
    background-color: #1fec63;
    box-shadow: 5px 5px #000000;
}


























/*NAVBAR*/
.all_nav{
    background-color: transparent;
}
.button_logo{
    height: 50px;
    width: 50px;
}

    .nav_edit:hover{
        background-color: #1fec63;
        border: 1px solid rgba(0, 0, 0, 0.801);
        padding: 1px;
        box-shadow: 1px 1px #000000ee;
    }
.nav_edit2{
    font-family: 'SF Pixelate', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:#000000;
    transition-duration: 0.2s;
}

/*Contato*/
._contactmedia{
    background-color: #1fec63;
    margin-left: 93.5%;
    margin-right: 10px;
    margin-top: 5px;
    height: 98%;
    width: 83px;
    border-radius: 20px;
    box-shadow: 5px 5px #000000;
}
.wpp{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 160%;
}
.email{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 150px;
}

/*card*/
.imgv{
    margin-top: 10px;
    margin-bottom: 10px;
}
.tsb{
    margin: 20px 10px;
}

#sb2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 10%;
    margin-left: 500px;
    margin-bottom: 20px;
    height: 700px;
    width: 500px;
    background-color: #1fec63;
    box-shadow: 5px 5px #000000;
}

